{% extends "ui_base.html" %}
{% load static %}


{% block content %}
<div class="container mx-auto my-1">
  <h2 class="text-black-700">Please do not hit the back button</h2>
  <form action="/buy/" method="POST">
    {% csrf_token %}
    <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_A3ddi807j9neFS"
            data-amount="100"
            data-currency="INR"
            data-order_id="{{ order_id }}"
            data-buttontext="Pay with Razorpay">
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden"></form>
</div>
<script>
  (function(window, location) {
history.replaceState(null, document.title, location.pathname+"#!/history");
history.pushState(null, document.title, location.pathname);

window.addEventListener("popstate", function() {
  if(location.hash === "#!/history") {
    history.replaceState(null, document.title, location.pathname);
    setTimeout(function(){
      location.replace("http://www.dropvocals.com");
    },100);
  }
}, false);
}(window, location));
</script>
{% endblock content %}
