{% extends "ui_base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="w-full max-w-xs mx-auto">
    {% block inner %}{% endblock %}
</div>
{% endblock %}

{% block script %}

<script>
function _(el) {
  return document.getElementById(el)
  }

_("id_login").classList.add("shadow", "appearance-none", "border", "rounded", "w-full",
  "py-2", "px-3", "text-gray-700", "leading-tight", "focus:outline-none",
  "focus:shadow-outline")

_("id_password").classList.add("shadow", "appearance-none", "border", "rounded", "w-full",
  "py-2", "px-3", "text-gray-700", "leading-tight", "focus:outline-none",
  "focus:shadow-outline")


</script>
{% endblock script %}

