{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-gray-600 text-sm py-2">{% blocktrans %}Don't have an account yet?</p>
<a href="{{ signup_url }}" class="pt-2 uppercase text-black mr-2 bg-transparent
hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border
border-blue-500 hover:border-transparent rounded">create an account</a>
{% endblocktrans %}
{% endif %}

<form class="login bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-4" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="my-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none
  focus:shadow-outline" type="submit">
    {% trans "Sign In" %}
  </button>
  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
</form>

{% endblock %}

