{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1 class="text-xl">{% trans "Sign Up" %}</h1>

<p class="text-gray-600 text-sm">{% blocktrans %}Already have an account? Then please
  <a href="{{ login_url }}" class="block uppercase text-black mr-2">sign in</a>.{% endblocktrans %}</p>

<form class="login bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="my-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
    {% trans "Sign Up" %}
  </button>
  </div>
</form>

{% endblock %}

